<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Under Construction</title>
  <meta name="follow" content="noinxdex,nofollow"/>
</head>
<body>
Site Coming Soon...
  <div style="display: none">
    @RenderBody()
  </div>
</body>
</html>
