
@{
    ViewBag.Title = "Choosing a Roofing Contractor";
}

<h1>Choosing the Right Roofing Contractor for Your Home</h1>

<div class="row">
    <div class="col-md-12">
        <p>
            We know that there are many more factors to look at apart from the price when choosing a roofing contractor.
            Do your homework; check the company’s credentials before choosing their services. West End Remodeling stands by our reputation and
            it shows with our AAA Better Business Bureau record.
        </p>

        <ul>
            <li>
                Is the Minnesota contractor licensed? Some states don't require roofing contractors to be licensed. Minnesota's West End Remodeling LLC,
                is a licensed and certified roofing contractor.
            </li>
            <li>
                Does the contractor have a reputation for quality? Most contractors will readily provide you with a list of references.
                A quick call to the Better Business Bureau may also help in determining if contractors have had any complaints registered against them.
            </li>
            <li>
                Does the contractor provide you with a copy of the roofing material manufacturer's warranty and thoroughly explain it? Are defective materials
                going to be replaced at the original purchasing price or are they prorated? Will labor be an additional cost?
            </li>
            <li>
                Does the contractor thoroughly inspect your roof and then explain his findings? A good contractor will inspect anything that could cause leaks
                whether it is roof related or not (for instance, chimney defects, air conditioning units, fans, walls, etc).
            </li>
            <li>Is the contractor going to use four (4) fasteners per shingle? Six (6) per shingle in areas where there is frequent high wind?</li>
            <li>Does the contractor have a pager or cellular number in case of an emergency? Will he be available on weekends?</li>
            <li>Is the contractor going to supervise the different phases of the project and provide a final inspection?</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Some Important Questions to Ask about Warranties</h2>
        <ul>
            <li>What is the length of the warranty?</li>
            <li>Is the warranty transferable?</li>
            <li>What does the warranty specifically cover?</li>
        </ul>
    </div>
</div>


