@{
    ViewBag.Title = "Experienced Twin Cities Roofing Contractors";
}

<div class="fullWidthContainer">
    <div class="container body-content">
       
        
            <div class="col-md-7">
                <h1>Twin Cities Roof Repair Experts </h1>
                <h2>West End Remodeling History</h2>
                <p>
                    Our company has built its reputation on quality workmanship. In addition, we only use the best products so you can be sure your roof will stand up to the elements.
                    We have the skills and expertise to do any kind of roofing project. We appreciate the rewarding multiplier effect of our customers speaking highly of us, and recommending
                    us to friends and associates. We also understand the damaging effect of not winning your satisfaction. It is to this end that all the workers at West End Remodeling are
                    trained, and trained continuously, in the principles of being thorough, paying attention to detail, doing business with integrity, and of being oriented to achieve our
                    goals of earning your satisfaction and recommendations. Our mission is excellence in roofing!
                </p>

                <h2>The Advantage of West End Remodeling Roofs</h2>
                <ul>
                    <li>We are certified/approved applicators for several leading shingle manufacturers</li>
                    <li>Professional, trained and experienced estimators who will take the time to explain your options and work to educate you and earn your business</li>
                    <li>Competent installation by experienced trades persons</li>
                    <li>Supervision and accountability</li>
                    <li>Ethical practices</li>
                    <li>Highly insured and bonded</li>
                    <li>Dedicated Warranty Service Department</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img class="fullWidth" alt="WestEnd Remodeling Roof Repair 1" src="/Content/images/house-with-greens.jpg" />
                <img class="fullWidth" alt="WestEnd Remodeling Roof Repair 2" src="/Content/images/house-with-peak-full.jpg" />
            </div>

    </div>
</div>

