@{
    ViewBag.Title = "Experienced Twin Cities Roofing Contractors";
}

<h1>Twin Cities Roof Repair Experts </h1>

<div class="row">
    <div class="col-md-12">
        <h2>Roof Repair Experts</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>What to Expect</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>What to Expect</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
