@{
    ViewBag.Title = "Experienced Twin Cities Roofing Contractors";
}

<h1>Twin Cities Roofing Repair Experts</h1>

<div class="row">
    <div class="col-md-12">
        <p>
            Our roof specialists will assess your existing sheathing to check for any rot or voids. They will also check the flashings for any
            signs of damage and poor workmanship. Your residential property will be tarped, covered, and cleaned up as good as, if not better than, before we start the project.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Shingle Roofs</h2>
        <p>
            Here Is What You Should Know When Selecting Shingle Roofs:
            <ul>
                <li>Over the last several years, organic shingles have been replaced by inorganic fiberglass shingles.</li>
                <li>These inorganic shingles are saturated in asphalt with a ceramic granular coating.</li>
                <li>Price points vary depending on whether you want architectural, builder-grade or premium shingles.</li>
                <li>The most common types of materials used for sloped roof shingle applications include asphalt, cedar shingles and shakes, slate tile, ceramic or concrete tile and metal.</li>
            </ul>
        </p>
        <p>
            There are generally two types of shingles: three-tab strip shingles and laminate shingles. The three-tab strip shingles are the most economical.
            The laminate shingles come in two categories: architectural and premium.
        </p>
    </div>
</div>

