/*
#194420
#6e612c

  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
*/


body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #194420;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.textToImage {
  font-size: 1px;
  text-indent: -9999px;
  display: block;
  float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.fullWidthContainer {
  clear: both;
}

.logo {
  background-image: url('/content/images/westend-remodeling-logo.png');
  background-repeat: no-repeat;
  width: 127px;
  height: 64px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.homeBgrd {
  background: url('/content/images/house-with-greens.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -250px;
}


.opacityBox {
  -ms-opacity: .9;
  opacity: .9;
  background: #fff;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.navbar {
  background: #fff;
}


.navbar-inverse {
  border-bottom: 0;
  border-top: 1px solid #6e612c;
  padding-bottom: 15px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+82,6e612c+83,6e612c+83,6e612c+100&1+0,1+82,0.29+86,1+100,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 82%, rgba(110,97,44,0.82) 83%, rgba(110,97,44,0.29) 86%, rgba(110,97,44,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(110,97,44,0.82) 83%,rgba(110,97,44,0.29) 86%,rgba(110,97,44,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(110,97,44,0.82) 83%,rgba(110,97,44,0.29) 86%,rgba(110,97,44,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#006e612c',GradientType=0 ); /* IE6-9 */

}
.navbar-nav {
  margin-top: 10px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #927f32;
}

.navbar-inverse .navbar-nav > li > a {
  color: #6e612c;
  font-weight: bold;
  font-size: 14px;
  font-weight: 600;
}
.navbar-toggle {
  background-color: #194420;
  margin-top: 17px; 
}
.navbar-inverse .navbar-toggle {
  border-color: #6e612c;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #6e612c;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-top: 10px;
}
h1 {
  color: #194420;
  font-size: 35px;
}

.row {
  margin-top: 30px;
}

.lightGreen {
  background: #ddffed;
}

.centered {
  text-align: center;
}

.featuredRoof {
  background-image: url('images/house-with-peaks-short.jpg');
  background-position: bottom left;
  background-size: 100% auto;
  min-height: 350px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

  .featuredRoof .opacityBox {
    padding: 10px;
  }

.lightningStrike, .roofersOnHouse {
  -ms-background-size: cover;
  background-size: cover;
  background-image: url('images/lightning-strike.jpg');
  background-position: bottom center;
  height: 300px;
  color: #fff;
  padding: 5vw;
}



.topBottomBorder {
  border-top: 2px solid #6e612c;
  border-bottom: 2px solid #6e612c;
}

.roofersOnHouse {
  background-image: url('images/roofers-on-house.jpg');
  background-position: top center;
}

.blueGreenGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#448741+0,448741+48,448741+48,132259+49,132259+100 */
  background: #448741; /* Old browsers */
  background: -moz-linear-gradient(left, #448741 0%, #448741 48%, #448741 48%, #132259 49%, #132259 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #448741 0%,#448741 48%,#448741 48%,#132259 49%,#132259 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #448741 0%,#448741 48%,#448741 48%,#132259 49%,#132259 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448741', endColorstr='#132259',GradientType=1 ); /* IE6-9 */
}

  .blueGreenGradient .body-content {
    padding: 0;
  }


/* max sizes*/
@media (min-width: 1000px) {
  .lightningStrike, .roofersOnHouse {
    padding: 50px;
  }
}

/* < sm */
@media (max-width: 768px) {
  .homeBgrd {
    background-position: 0 0;
  }
}

/* nav early shrink */
  @media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      border-bottom: 1px solid #6e612c;
      background: #fff;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}