body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.fullWidthContainer {
    clear: both;
}
.homeBgrd {
    background: url('/content/images/house-with-greens.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -250px;
}

.jumbotron {
    background: transparent;
}
.jumbotronRight {
    width: 50%;
    margin-left: 50%;
}
.jumbotron h1 {
    font-size: 30px;
    font-size: 20px;
}

/* < sm */
@media (max-width: 768px) {
    .homeBgrd {
        background-position: 0 0;
    }
    .jumbotron h1 {
        margin-top: 0;
    }
}
   
.opacityBox {
    -ms-opacity: .9;
    opacity: .9;
    background: #fff;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.featuredRoof .opacityBox {
    padding: 10px;
}

.navbar {
    background: darkgreen;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.row {
    margin-top: 30px;
}
.lightGreen {
    background: #ddffed
}

.centered {
    text-align: center;
}

.featuredRoof {
    background-image: url('images/house-with-greens2.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 350px;
}

.lightningStrike, .roofersOnHouse {
    -ms-background-size: cover;
    background-size: cover;
    background-image: url('images/lightning-strike.jpg');
    background-position: bottom center;
    height: 300px;
    color: #fff;
    padding: 40px;
}



.topBottomBorder {
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
}

.roofersOnHouse {
    background-image: url('images/roofers-on-house.jpg');
    background-position: top center;
   
}

.blueGreenGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#448741+0,448741+48,448741+48,132259+49,132259+100 */
background: #448741; /* Old browsers */
background: -moz-linear-gradient(left,  #448741 0%, #448741 48%, #448741 48%, #132259 49%, #132259 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #448741 0%,#448741 48%,#448741 48%,#132259 49%,#132259 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #448741 0%,#448741 48%,#448741 48%,#132259 49%,#132259 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448741', endColorstr='#132259',GradientType=1 ); /* IE6-9 */

}

.blueGreenGradient .body-content {
    padding: 0;
}